#logo
{
    background-color: dodgerblue;
    height: 70px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

#opis
{
    float: left;
    background-color: coral;
    width: 350px;
    height: 1000px;
    margin-right: 25px;
    font-size: 25px;
    text-align: center;
    
}

#zawartosc
{
    background-color: palegreen;
    height: 1000px;
    margin-left: 25px;
}
#stopka
{
    background-color: seagreen;    
    height:100px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    margin-top: 15px;
}

#menu
{
    margin-left: 25px;
    margin-top: 10px;
    height: 100px;  
    background-color: darkcyan;
    color: black ;
    padding: 10px;
}

.opcja
{
    height:80px;
    float: left;
    width: 300px;
    border: dotted 2px black;
    margin-right: 90px;
    margin-left: 100px; 
    margin-top: 7px;
    text-align: center;
    font-size: 50px;
    color:black;

}



.opcja:hover
{
    cursor: pointer;
    background-color:darkgray;
    color:white;

}

body
{
    background-color: brown;
}